@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background: linear-gradient( #000046,
    #1cb5e0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
}
.cards{
    width: 200px;
    height: 300px;
    background: #ffffff;
    position: relative;
    box-shadow: 0px 0px 20px -7px black;
    border-radius: 10px;
}
.cards h2{
    text-align: center;
    font-size: 18px;
    color: gray;
    padding-top: 10px;
}
.image{
    position: absolute;
    top: 50%;
    left: 50%;
    /* visibility: hidden; */
    transform: translate(-50%, -50%);
    z-index: 999;
    transition: 1s;
}
.image img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.details{
    height: 200px;
    width: 200px;
    background: #fff;
    box-shadow: 0px 0px 10px -5px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* z-index: 10; */
    /* visibility: hidden; */
    /* transition: .5s; */

}
.details h3{
    margin: 15px 0px ;
    font-weight: 500;
    color: gray;
    letter-spacing: 2px;
}
.details h6{
    color: gray;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: -14px 0px 10px 0px;
}
.details p{
    font-size: 12px;
    font-weight: 400;
    color: gray;
    width: 80%;
    text-align: justify;
    margin: 0 auto;
}
.details a{
    font-size: 12px;
    text-decoration: none;
    margin: 10px 0px ;
    /* color: gray; */
}


/* social icons  */
.social_icons{
    position: absolute;
    bottom: 15px;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
}
.social_icons i{
    color: gray;
    cursor: pointer;
}
.social_icons i:active{
    color: rgb(80, 77, 77);
}

.cards:hover > .image{
    /* left: -100px; */
    top: 0;
    opacity: 0;
}
